.contacts
  .content
    .contacts__info
      .contacts__info--sity Киев
      .contacts__info--address бульвар В. Гавела 6/7А (І. Лепсе)
      .contacts__info--marker Магазин, Пункт выдачи
      .contacts__info--copy 2003 - 2018 &copy; EGLO UKRAINE
    .contacts__form
      .contacts__form--title
      p.contacts__form--description
      form(action='#')
        .contacts__form-item
          input(type='text' placeholder='Ваше имя')
        .contacts__form-item
          input(type='text' placeholder='+38 0__ ___ __ __ ')
        .contacts__form-item
          button(type='submit').contacts__form--btn Отправить
    .contacts__info
      .contacts__info--sity Телефон
      .contacts__info--phone +38 976 0875 9922
      .contacts__info--phone +38 976 0875 9922
      .contacts__info--sity Мы в соцсетях
      ul
        li
          a(href='#')
            +sprite('', 'facebook')
        li
          a(href='#')
            +sprite('', 'youtube')
        li
          a(href='#')
            +sprite('', 'pinterest')
        li
          a(href='#')
            +sprite('', 'twitter')