.header-top-menu
  .content
    a(href='/').header-top-menu__logo
      img(src='/img/svg/logo.svg')
    .header-top-menu__menu-item
      li
        a(href='#').header-top-menu__menu-item--link
          .header-top-menu__menu-item--hamburger-icon
            span.line.line-1
            span.line.line-2
            span.line.line-3
          span Меню
        ul.header-top-menu__menu-item--dropdown
          li
            a(href='#') Акции
          li
            a(href='#') Доставка и оплата
          li
            a(href='#') Новости
          li
            a(href='#') Вопросы
          li
            a(href='#') Гарантии
          li
            a(href='#') Контакты
          li
            a(href='#') О нас
      li
        a(href='#')
          +sprite('catalog-ico', 'catalog')
          | Каталог
        ul.header-top-menu__menu-item--mega-menu
          .catalog-item
            .catalog-item__top
              +sprite('icon sconce-ico', 'chandelier-ico')
              | Люстры
            ul.catalog-item__list
              li
                a(href='#') Люстры подвесные
              li
                a(href='#') Люстры припотолочные
              li
                a(href='#') Люстры - подвесы

          .catalog-item
            .catalog-item__top
              +sprite('icon sconce-ico', 'sconce lamp')
              | бра
            ul.catalog-item__list
              li
                a(href='#') Бра декоративные
              li
                a(href='#') Бра с абажуром
              li
                a(href='#') Бра подсветки
              li
                a(href='#') Подсветки мебельные и кухонные