.header-catalog-menu
  .content
    ul.header-catalog-menu--items
      li.active
        a(href='#').header-catalog-menu--items__link
          +sprite('icon chandeliers-ico', 'icons-1')
          | Люстры
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title люстры
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Люстры подвесные
            li
              a(href='#') Люстры припотолочные
            li
              a(href='#') Люстры - подвесы
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon sconce-ico', 'icons-2')
          | Бра
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Бра
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Бра декоративные
            li
              a(href='#') Бра с абажуром
            li
              a(href='#') Бра подсветки
            li
              a(href='#') Подсветки мебельные и кухонные
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon torchere-ico', 'icons-3')
          | Торшеры
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Торшеры
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Торшеры декоративные
            li
              a(href='#') Торшеры с абажуром
            li
              a(href='#') Торшеры с лампой для чтения
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon table-ico', 'icons-4')
          | настольные
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Настольные
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Торшеры декоративные
            li
              a(href='#') Торшеры с абажуром
            li
              a(href='#') Торшеры с лампой для чтения
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')

      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon wall-ico', 'icons-6')
          | настенно-
          br
          | потолочные
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Настенно-потолочные
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Круглые, овальные светильники
            li
              a(href='#') Прямоугольные светильники
            li
              a(href='#') Споты
            li
              a(href='#') Трековые светильники
            li
              a(href='#') Точки врезные
            li
              a(href='#') Точки накладные
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon bathroom-ico', 'icons-5')
          | Для ванной
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Для ванной
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Светильники потолочные
            li
              a(href='#') Бра
            li
              a(href='#') Подсветки для зеркал
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon baby-ico', 'icons-7')
          | Детские
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Детские
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Люстры
            li
              a(href='#') Потолочные светильники
            li
              a(href='#') Бра
            li
              a(href='#') Настольные лампы
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon street-ico', "icons-8")
          | Уличные
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Уличные
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Люстры
            li
              a(href='#') Потолочные светильники
            li
              a(href='#') Бра
            li
              a(href='#') Настольные лампы
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon smart-house-ico', "icons-9")
          | Умный дом
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Умный дом
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Люстры
            li
              a(href='#') Потолочные светильники
            li
              a(href='#') Бра
            li
              a(href='#') Настольные лампы
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon proff-ico', "icons-10")
          | Проф свет
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Проф свет
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Торшеры декоративные
            li
              a(href='#') Торшеры с абажуром
            li
              a(href='#') Торшеры с лампой для чтения
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')

      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon lightbulb-ico', 'icons-12')
          | Лампочки
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Лампочки
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') LED лампочки
            li
              a(href='#') Смарт лампочки
            li
              a(href='#') Галогеновые лампочки
            li
              a(href='#') Люминесцентные лампочки
            li
              a(href='#') Декоративные лампочки
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          +sprite('icon accessory-ico', 'icons-11')
          | Аксесуары
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Аксесуары
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Абажуры
            li
              a(href='#') Cтёкла и плафоны
            li
              a(href='#') Дистанционное управление
            li
              a(href='#') Декор
            li
              a(href='#') LED лента
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')