- const path = "./img/sprites/sprite.svg#";

mixin sprite(name, id)
  svg(class=name)
    use(xlink:href=path + id)

mixin product
  .product__item.item
    .product__item__info
      a(href='product.html').product__item__ico(style="background-image: url('img/product.png')")
      .product__popup
        a.product__title Sendero
        .product__price 96 188 грн
        .product__price.old-price 96 188 грн
        .availability.under-order под заказаказ
        a(href='#').add-cart В корзину
        a(href='#').buy Купить в 1 клик
  .product__item.item
    .product__item__info
      a(href='product.html').product__item__ico(style="background-image: url('img/product-2.png')")
      .product__popup
        a.product__title Sendero
        .product__price 96 188 грн
        .product__price.old-price 96 188 грн
        .availability в наличии
        a(href='#').add-cart В корзину
        a(href='#').buy Купить в 1 клик


mixin one-product
  .product__item.item
    .product__item__info
      .product__item__info--top
        .discount -60%
        .promo-label.new-position новинка
      a(href='product.html').product__item__ico(style="background-image: url('img/product.png')")
      .product__popup
        a.product__title Sendero
        .product__price 96 188 грн
        .product__price.old-price 96 188 грн
        .availability.under-order под заказаказ
        a(href='#').add-cart В корзину
        a(href='#').buy Купить в 1 клик
  .product__item.item
    .product__item__info
      .product__item__info--top
        .promo-label.bestseller хит продаж
      a(href='product.html').product__item__ico(style="background-image: url('img/product-2.png')")
      .product__popup
        a.product__title Sendero
        .product__price 96 188 грн
        .product__price.old-price 96 188 грн
        .availability в наличии
        a(href='#').add-cart В корзину
        a(href='#').buy Купить в 1 клик

mixin cart-position
  .cart-item-position
    .cart-item--img
      a(href='#').cart-item--img__link
        img(src='./img/product.png' alt='')
      .cart-item--delete
    .cart-item--info
      .cart-item--info-top
        a(href='#').cart-item--info__name 96188  SALOBRENA 1
          .cart-item--info__description 40W; 4300 lm
            br
            | L 595, B 595, H 50
        .cart-item--info__price 6 055 грн
      form(action='#')
        .cart-item--info__count
          .cart-item--info__count--minus
          input(type='text' placeholder='1').cart-item--info__count--control
          .cart-item--info__count--plus
