.popular-items {
  padding: 0 15px;
  &--title {
    color: $title;
    font-size: 36px;
    line-height: 44px;
    font-family: $font-m-b;
    opacity: .7;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .product {
    &__item {
      position: relative;
      margin-bottom: 30px;
      background: $white;
      max-width: 220px;
      height: 372px;
      border: 1px solid #EAEAEA;
      overflow: hidden;
      &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .3s;
      }
      &__ico {
        width: 100%;
        height: 215px;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        &:focus {
          outline: none;
        }
      }
      &:hover, &:focus {
        outline: none;
        border: 1px solid $small-title;
        cursor: pointer;
        .product__popup {
          background: rgba($new, .06);
          padding-bottom: 50px;
          top: -45px;
          .add-cart, .buy {
            display: flex;
            &:focus {
              outline: none;
            }
          }
        }
        .old-price, .availability {
          display: none;
        }
      }
    }
    &__title {
      margin-top: 25px;
      margin-bottom: 5px;
      text-transform: uppercase;
      padding: 0 15px;
      color: #000000;
      font-size: 16px;
      font-family: $font;
      line-height: 22px;
      &:focus {
        outline: none;
      }
    }
    &__price {
      font-size: 16px;
      line-height: 22px;
      font-family: $font-b;
      margin-bottom: 5px;
      transition: .3s;
      &.old-price {
        color: $price;
        font-size: 12px;
        line-height: 16px;
        font-family: $font;
        margin-bottom: 15px;
      }
    }
    .availability {
      font-size: 10px;
      line-height: 14px;
      font-family: $font-b;
      color: $small-title;
      transition: .3s;
      &.under-order {
        color: $order;
      }
    }
    &__popup {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 25px 20px;
      z-index: 3;
      align-items: center;
      position: relative;
      transition: .3s;
      top: 0;
      .add-cart {
        width: 100%;
        color: $white;
        border-radius: 5px;
        background: $small-title;
        letter-spacing: 0.05em;
        font-size: 14px;
        line-height: 19px;
        font-family: $font;
        align-items: center;
        justify-content: center;
        padding: 8px 0;
        margin-bottom: 15px;
        margin-top: 25px;
        transition: .3s;
        display: none;
      }
      .buy {
        color: #4e4e4e;
        letter-spacing: 0.05em;
        font-size: 15px;
        line-height: 20px;
        font-family: $font;
        transition: .3s;
        display: none;
      }
    }
    .slick-slide:focus {
      outline: none;
    }
    .slick-prev, .slick-next {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      bottom: auto;
      top: -95px;
      right: 0;
      border: 1px solid rgba(#000, .3);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
      &::before {
        content: '';
        mask: url('../img/svg/arrow-down.svg') no-repeat center;
        background: $title;
        width: 13px;
        height: 7px;
        mask-size: contain;
      }
    }
    .slick-prev {
      left: auto;
      right: 85px;
    }
    .slick-next {
      right: 15px;
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
}