.product-sliders
  .slider-for
    div
      a(href='#').product-sliders-top-img
        img(src='img/product-3.png')
    div
      a(href='#').product-sliders-top-img
        img(src='img/product-4.png')
    div
      a(href='#').product-sliders-top-img
        img(src='img/product-5.png')
    div
      a(href='#').product-sliders-top-img
        img(src='img/product-2.png')
    div
      a(href='#').product-sliders-top-img
        img(src='img/product.png')
  .slider-nav
    div
      a(href='#' style='background-image: url("img/product-3.png")').product-sliders-img
    div
      a(href='#' style='background-image: url("img/product-4.png")').product-sliders-img
    div
      a(href='#' style='background-image: url("img/product-5.png")').product-sliders-img
    div
      a(href='#' style='background-image: url("img/product-2.png")').product-sliders-img
    div
      a(href='#' style='background-image: url("img/product.png")').product-sliders-img